<html>

<head>
<title>Title</title>
</head>

<body>

<p>Testing iFrame</p>

<iframe id="example1" src="https://belethia.shinyapps.io/hiv_childmort_bias_app/"
style="border: non; width: 100%; height: 1000px"
frameborder="0">
It looks like your browser doesn't support iframes.
</iframe>




</body>
</html>
